body {
  background: linear-gradient(to top, #ace0f9 5%, #fff1eb 90%);
}
h1 {
  text-align: right;
  font-size: 400px;
  padding-top: 40px;
  font-family: monospace;
}

li {
  list-style-type: none;
}

.weather-app {
  background: transparent;
  opacity: 0.85;
  max-width: 500px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
  padding: 50px;
  border: 2px solid black;
  border-radius: 15px;
  text-align: right;
  box-shadow: 0 7px 9px 0 #085374;
}

.searchBar {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: monospace;
}
input {
  border-radius: 10px;
  border: 1px solid black;
  height: max-content;
  padding-top: 5px;
  padding-left: 3px;
  padding-bottom: 5px;
}

.searchBar-btn,
.current-btn {
  background: #e3e3e3;
  border-radius: 12px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
  font-size: 16px;
  font-family: monospace;
  cursor: pointer;
  padding-right: 20px;
}

.searchBar-btn:hover,
.current-btn:hover {
  background: #8dc6ff;
}

.gitLink {
  font-size: 13px;
  text-align: center;
  padding-top: 30px;
  font-family: monospace;
}

.col-6 {
  font-size: 14px;
}

#icon {
  position: relative;
  top: -120px;
  left: -40px;
  text-align: left;
}

#temperature {
  font-size: 70px;
  font-family: monospace;
}

.units {
  position: relative;
  font-size: 15px;
  top: -28px;
  font-family: monospace;
}

#today-date,
#description,
#otherDescriptions {
  font-family: monospace;
  font-weight: 300px;
}

.weather-forecast {
  margin-top: 25px;
  text-align: center;
  font-family: monospace;
  font-size: 13px;
}

.weather-forecast-date {
  font-size: 17px;
  color: #0f5cc7;
  opacity: 0.7;
}
.weather-forecast-temperatures {
  display: inline-block;
  white-space: nowrap;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  color: #0f2bc7;
}
